@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 52% 56%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 52% 56%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 240 52% 66%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 52% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .prose {
    @apply text-foreground;
  }
  .dark .prose-invert {
    --tw-prose-body: theme(colors.foreground / 0.9);
    --tw-prose-headings: theme(colors.foreground);
    --tw-prose-lead: theme(colors.foreground / 0.9);
    --tw-prose-links: theme(colors.primary);
    --tw-prose-bold: theme(colors.foreground);
    --tw-prose-counters: theme(colors.muted-foreground);
    --tw-prose-bullets: theme(colors.muted-foreground);
    --tw-prose-hr: theme(colors.border);
    --tw-prose-quotes: theme(colors.foreground);
    --tw-prose-quote-borders: theme(colors.border);
    --tw-prose-captions: theme(colors.muted-foreground);
    --tw-prose-code: theme(colors.foreground);
    --tw-prose-pre-code: theme(colors.foreground);
    --tw-prose-pre-bg: theme(colors.muted);
    --tw-prose-th-borders: theme(colors.border);
    --tw-prose-td-borders: theme(colors.border);
  }
}
